<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ar</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ar</string>
		<string>en</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>QuranWerd</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>p1.ttf</string>
		<string>p10.ttf</string>
		<string>p100.ttf</string>
		<string>p101.ttf</string>
		<string>p102.ttf</string>
		<string>p103.ttf</string>
		<string>p104.ttf</string>
		<string>p105.ttf</string>
		<string>p106.ttf</string>
		<string>p107.ttf</string>
		<string>p108.ttf</string>
		<string>p109.ttf</string>
		<string>p11.ttf</string>
		<string>p110.ttf</string>
		<string>p111.ttf</string>
		<string>p112.ttf</string>
		<string>p113.ttf</string>
		<string>p114.ttf</string>
		<string>p115.ttf</string>
		<string>p116.ttf</string>
		<string>p117.ttf</string>
		<string>p118.ttf</string>
		<string>p119.ttf</string>
		<string>p12.ttf</string>
		<string>p120.ttf</string>
		<string>p121.ttf</string>
		<string>p122.ttf</string>
		<string>p123.ttf</string>
		<string>p124.ttf</string>
		<string>p125.ttf</string>
		<string>p126.ttf</string>
		<string>p127.ttf</string>
		<string>p128.ttf</string>
		<string>p129.ttf</string>
		<string>p13.ttf</string>
		<string>p130.ttf</string>
		<string>p131.ttf</string>
		<string>p132.ttf</string>
		<string>p133.ttf</string>
		<string>p134.ttf</string>
		<string>p135.ttf</string>
		<string>p136.ttf</string>
		<string>p137.ttf</string>
		<string>p138.ttf</string>
		<string>p139.ttf</string>
		<string>p14.ttf</string>
		<string>p140.ttf</string>
		<string>p141.ttf</string>
		<string>p142.ttf</string>
		<string>p143.ttf</string>
		<string>p144.ttf</string>
		<string>p145.ttf</string>
		<string>p146.ttf</string>
		<string>p147.ttf</string>
		<string>p148.ttf</string>
		<string>p149.ttf</string>
		<string>p15.ttf</string>
		<string>p150.ttf</string>
		<string>p151.ttf</string>
		<string>p152.ttf</string>
		<string>p153.ttf</string>
		<string>p154.ttf</string>
		<string>p155.ttf</string>
		<string>p156.ttf</string>
		<string>p157.ttf</string>
		<string>p158.ttf</string>
		<string>p159.ttf</string>
		<string>p16.ttf</string>
		<string>p160.ttf</string>
		<string>p161.ttf</string>
		<string>p162.ttf</string>
		<string>p163.ttf</string>
		<string>p164.ttf</string>
		<string>p165.ttf</string>
		<string>p166.ttf</string>
		<string>p167.ttf</string>
		<string>p168.ttf</string>
		<string>p169.ttf</string>
		<string>p17.ttf</string>
		<string>p170.ttf</string>
		<string>p171.ttf</string>
		<string>p172.ttf</string>
		<string>p173.ttf</string>
		<string>p174.ttf</string>
		<string>p175.ttf</string>
		<string>p176.ttf</string>
		<string>p177.ttf</string>
		<string>p178.ttf</string>
		<string>p179.ttf</string>
		<string>p18.ttf</string>
		<string>p180.ttf</string>
		<string>p181.ttf</string>
		<string>p182.ttf</string>
		<string>p183.ttf</string>
		<string>p184.ttf</string>
		<string>p185.ttf</string>
		<string>p186.ttf</string>
		<string>p187.ttf</string>
		<string>p188.ttf</string>
		<string>p189.ttf</string>
		<string>p19.ttf</string>
		<string>p190.ttf</string>
		<string>p191.ttf</string>
		<string>p192.ttf</string>
		<string>p193.ttf</string>
		<string>p194.ttf</string>
		<string>p195.ttf</string>
		<string>p196.ttf</string>
		<string>p197.ttf</string>
		<string>p198.ttf</string>
		<string>p199.ttf</string>
		<string>p2.ttf</string>
		<string>p20.ttf</string>
		<string>p200.ttf</string>
		<string>p201.ttf</string>
		<string>p202.ttf</string>
		<string>p203.ttf</string>
		<string>p204.ttf</string>
		<string>p205.ttf</string>
		<string>p206.ttf</string>
		<string>p207.ttf</string>
		<string>p208.ttf</string>
		<string>p209.ttf</string>
		<string>p21.ttf</string>
		<string>p210.ttf</string>
		<string>p211.ttf</string>
		<string>p212.ttf</string>
		<string>p213.ttf</string>
		<string>p214.ttf</string>
		<string>p215.ttf</string>
		<string>p216.ttf</string>
		<string>p217.ttf</string>
		<string>p218.ttf</string>
		<string>p219.ttf</string>
		<string>p22.ttf</string>
		<string>p220.ttf</string>
		<string>p221.ttf</string>
		<string>p222.ttf</string>
		<string>p223.ttf</string>
		<string>p224.ttf</string>
		<string>p225.ttf</string>
		<string>p226.ttf</string>
		<string>p227.ttf</string>
		<string>p228.ttf</string>
		<string>p229.ttf</string>
		<string>p23.ttf</string>
		<string>p230.ttf</string>
		<string>p231.ttf</string>
		<string>p232.ttf</string>
		<string>p233.ttf</string>
		<string>p234.ttf</string>
		<string>p235.ttf</string>
		<string>p236.ttf</string>
		<string>p237.ttf</string>
		<string>p238.ttf</string>
		<string>p239.ttf</string>
		<string>p24.ttf</string>
		<string>p240.ttf</string>
		<string>p241.ttf</string>
		<string>p242.ttf</string>
		<string>p243.ttf</string>
		<string>p244.ttf</string>
		<string>p245.ttf</string>
		<string>p246.ttf</string>
		<string>p247.ttf</string>
		<string>p248.ttf</string>
		<string>p249.ttf</string>
		<string>p25.ttf</string>
		<string>p250.ttf</string>
		<string>p251.ttf</string>
		<string>p252.ttf</string>
		<string>p253.ttf</string>
		<string>p254.ttf</string>
		<string>p255.ttf</string>
		<string>p256.ttf</string>
		<string>p257.ttf</string>
		<string>p258.ttf</string>
		<string>p259.ttf</string>
		<string>p26.ttf</string>
		<string>p260.ttf</string>
		<string>p261.ttf</string>
		<string>p262.ttf</string>
		<string>p263.ttf</string>
		<string>p264.ttf</string>
		<string>p265.ttf</string>
		<string>p266.ttf</string>
		<string>p267.ttf</string>
		<string>p268.ttf</string>
		<string>p269.ttf</string>
		<string>p27.ttf</string>
		<string>p270.ttf</string>
		<string>p271.ttf</string>
		<string>p272.ttf</string>
		<string>p273.ttf</string>
		<string>p274.ttf</string>
		<string>p275.ttf</string>
		<string>p276.ttf</string>
		<string>p277.ttf</string>
		<string>p278.ttf</string>
		<string>p279.ttf</string>
		<string>p28.ttf</string>
		<string>p280.ttf</string>
		<string>p281.ttf</string>
		<string>p282.ttf</string>
		<string>p283.ttf</string>
		<string>p284.ttf</string>
		<string>p285.ttf</string>
		<string>p286.ttf</string>
		<string>p287.ttf</string>
		<string>p288.ttf</string>
		<string>p289.ttf</string>
		<string>p29.ttf</string>
		<string>p290.ttf</string>
		<string>p291.ttf</string>
		<string>p292.ttf</string>
		<string>p293.ttf</string>
		<string>p294.ttf</string>
		<string>p295.ttf</string>
		<string>p296.ttf</string>
		<string>p297.ttf</string>
		<string>p298.ttf</string>
		<string>p299.ttf</string>
		<string>p3.ttf</string>
		<string>p30.ttf</string>
		<string>p300.ttf</string>
		<string>p301.ttf</string>
		<string>p302.ttf</string>
		<string>p303.ttf</string>
		<string>p304.ttf</string>
		<string>p305.ttf</string>
		<string>p306.ttf</string>
		<string>p307.ttf</string>
		<string>p308.ttf</string>
		<string>p309.ttf</string>
		<string>p31.ttf</string>
		<string>p310.ttf</string>
		<string>p311.ttf</string>
		<string>p312.ttf</string>
		<string>p313.ttf</string>
		<string>p314.ttf</string>
		<string>p315.ttf</string>
		<string>p316.ttf</string>
		<string>p317.ttf</string>
		<string>p318.ttf</string>
		<string>p319.ttf</string>
		<string>p32.ttf</string>
		<string>p320.ttf</string>
		<string>p321.ttf</string>
		<string>p322.ttf</string>
		<string>p323.ttf</string>
		<string>p324.ttf</string>
		<string>p325.ttf</string>
		<string>p326.ttf</string>
		<string>p327.ttf</string>
		<string>p328.ttf</string>
		<string>p329.ttf</string>
		<string>p33.ttf</string>
		<string>p330.ttf</string>
		<string>p331.ttf</string>
		<string>p332.ttf</string>
		<string>p333.ttf</string>
		<string>p334.ttf</string>
		<string>p335.ttf</string>
		<string>p336.ttf</string>
		<string>p337.ttf</string>
		<string>p338.ttf</string>
		<string>p339.ttf</string>
		<string>p34.ttf</string>
		<string>p340.ttf</string>
		<string>p341.ttf</string>
		<string>p342.ttf</string>
		<string>p343.ttf</string>
		<string>p344.ttf</string>
		<string>p345.ttf</string>
		<string>p346.ttf</string>
		<string>p347.ttf</string>
		<string>p348.ttf</string>
		<string>p349.ttf</string>
		<string>p35.ttf</string>
		<string>p350.ttf</string>
		<string>p351.ttf</string>
		<string>p352.ttf</string>
		<string>p353.ttf</string>
		<string>p354.ttf</string>
		<string>p355.ttf</string>
		<string>p356.ttf</string>
		<string>p357.ttf</string>
		<string>p358.ttf</string>
		<string>p359.ttf</string>
		<string>p36.ttf</string>
		<string>p360.ttf</string>
		<string>p361.ttf</string>
		<string>p362.ttf</string>
		<string>p363.ttf</string>
		<string>p364.ttf</string>
		<string>p365.ttf</string>
		<string>p366.ttf</string>
		<string>p367.ttf</string>
		<string>p368.ttf</string>
		<string>p369.ttf</string>
		<string>p37.ttf</string>
		<string>p370.ttf</string>
		<string>p371.ttf</string>
		<string>p372.ttf</string>
		<string>p373.ttf</string>
		<string>p374.ttf</string>
		<string>p375.ttf</string>
		<string>p376.ttf</string>
		<string>p377.ttf</string>
		<string>p378.ttf</string>
		<string>p379.ttf</string>
		<string>p38.ttf</string>
		<string>p380.ttf</string>
		<string>p381.ttf</string>
		<string>p382.ttf</string>
		<string>p383.ttf</string>
		<string>p384.ttf</string>
		<string>p385.ttf</string>
		<string>p386.ttf</string>
		<string>p387.ttf</string>
		<string>p388.ttf</string>
		<string>p389.ttf</string>
		<string>p39.ttf</string>
		<string>p390.ttf</string>
		<string>p391.ttf</string>
		<string>p392.ttf</string>
		<string>p393.ttf</string>
		<string>p394.ttf</string>
		<string>p395.ttf</string>
		<string>p396.ttf</string>
		<string>p397.ttf</string>
		<string>p398.ttf</string>
		<string>p399.ttf</string>
		<string>p4.ttf</string>
		<string>p40.ttf</string>
		<string>p400.ttf</string>
		<string>p401.ttf</string>
		<string>p402.ttf</string>
		<string>p403.ttf</string>
		<string>p404.ttf</string>
		<string>p405.ttf</string>
		<string>p406.ttf</string>
		<string>p407.ttf</string>
		<string>p408.ttf</string>
		<string>p409.ttf</string>
		<string>p41.ttf</string>
		<string>p410.ttf</string>
		<string>p411.ttf</string>
		<string>p412.ttf</string>
		<string>p413.ttf</string>
		<string>p414.ttf</string>
		<string>p415.ttf</string>
		<string>p416.ttf</string>
		<string>p417.ttf</string>
		<string>p418.ttf</string>
		<string>p419.ttf</string>
		<string>p42.ttf</string>
		<string>p420.ttf</string>
		<string>p421.ttf</string>
		<string>p422.ttf</string>
		<string>p423.ttf</string>
		<string>p424.ttf</string>
		<string>p425.ttf</string>
		<string>p426.ttf</string>
		<string>p427.ttf</string>
		<string>p428.ttf</string>
		<string>p429.ttf</string>
		<string>p43.ttf</string>
		<string>p430.ttf</string>
		<string>p431.ttf</string>
		<string>p432.ttf</string>
		<string>p433.ttf</string>
		<string>p434.ttf</string>
		<string>p435.ttf</string>
		<string>p436.ttf</string>
		<string>p437.ttf</string>
		<string>p438.ttf</string>
		<string>p439.ttf</string>
		<string>p44.ttf</string>
		<string>p440.ttf</string>
		<string>p441.ttf</string>
		<string>p442.ttf</string>
		<string>p443.ttf</string>
		<string>p444.ttf</string>
		<string>p445.ttf</string>
		<string>p446.ttf</string>
		<string>p447.ttf</string>
		<string>p448.ttf</string>
		<string>p449.ttf</string>
		<string>p45.ttf</string>
		<string>p450.ttf</string>
		<string>p451.ttf</string>
		<string>p452.ttf</string>
		<string>p453.ttf</string>
		<string>p454.ttf</string>
		<string>p455.ttf</string>
		<string>p456.ttf</string>
		<string>p457.ttf</string>
		<string>p458.ttf</string>
		<string>p459.ttf</string>
		<string>p46.ttf</string>
		<string>p460.ttf</string>
		<string>p461.ttf</string>
		<string>p462.ttf</string>
		<string>p463.ttf</string>
		<string>p464.ttf</string>
		<string>p465.ttf</string>
		<string>p466.ttf</string>
		<string>p467.ttf</string>
		<string>p468.ttf</string>
		<string>p469.ttf</string>
		<string>p47.ttf</string>
		<string>p470.ttf</string>
		<string>p471.ttf</string>
		<string>p472.ttf</string>
		<string>p473.ttf</string>
		<string>p474.ttf</string>
		<string>p475.ttf</string>
		<string>p476.ttf</string>
		<string>p477.ttf</string>
		<string>p478.ttf</string>
		<string>p479.ttf</string>
		<string>p48.ttf</string>
		<string>p480.ttf</string>
		<string>p481.ttf</string>
		<string>p482.ttf</string>
		<string>p483.ttf</string>
		<string>p484.ttf</string>
		<string>p485.ttf</string>
		<string>p486.ttf</string>
		<string>p487.ttf</string>
		<string>p488.ttf</string>
		<string>p489.ttf</string>
		<string>p49.ttf</string>
		<string>p490.ttf</string>
		<string>p491.ttf</string>
		<string>p492.ttf</string>
		<string>p493.ttf</string>
		<string>p494.ttf</string>
		<string>p495.ttf</string>
		<string>p496.ttf</string>
		<string>p497.ttf</string>
		<string>p498.ttf</string>
		<string>p499.ttf</string>
		<string>p5.ttf</string>
		<string>p50.ttf</string>
		<string>p500.ttf</string>
		<string>p501.ttf</string>
		<string>p502.ttf</string>
		<string>p503.ttf</string>
		<string>p504.ttf</string>
		<string>p505.ttf</string>
		<string>p506.ttf</string>
		<string>p507.ttf</string>
		<string>p508.ttf</string>
		<string>p509.ttf</string>
		<string>p51.ttf</string>
		<string>p510.ttf</string>
		<string>p511.ttf</string>
		<string>p512.ttf</string>
		<string>p513.ttf</string>
		<string>p514.ttf</string>
		<string>p515.ttf</string>
		<string>p516.ttf</string>
		<string>p517.ttf</string>
		<string>p518.ttf</string>
		<string>p519.ttf</string>
		<string>p52.ttf</string>
		<string>p520.ttf</string>
		<string>p521.ttf</string>
		<string>p522.ttf</string>
		<string>p523.ttf</string>
		<string>p524.ttf</string>
		<string>p525.ttf</string>
		<string>p526.ttf</string>
		<string>p527.ttf</string>
		<string>p528.ttf</string>
		<string>p529.ttf</string>
		<string>p53.ttf</string>
		<string>p530.ttf</string>
		<string>p531.ttf</string>
		<string>p532.ttf</string>
		<string>p533.ttf</string>
		<string>p534.ttf</string>
		<string>p535.ttf</string>
		<string>p536.ttf</string>
		<string>p537.ttf</string>
		<string>p538.ttf</string>
		<string>p539.ttf</string>
		<string>p54.ttf</string>
		<string>p540.ttf</string>
		<string>p541.ttf</string>
		<string>p542.ttf</string>
		<string>p543.ttf</string>
		<string>p544.ttf</string>
		<string>p545.ttf</string>
		<string>p546.ttf</string>
		<string>p547.ttf</string>
		<string>p548.ttf</string>
		<string>p549.ttf</string>
		<string>p55.ttf</string>
		<string>p550.ttf</string>
		<string>p551.ttf</string>
		<string>p552.ttf</string>
		<string>p553.ttf</string>
		<string>p554.ttf</string>
		<string>p555.ttf</string>
		<string>p556.ttf</string>
		<string>p557.ttf</string>
		<string>p558.ttf</string>
		<string>p559.ttf</string>
		<string>p56.ttf</string>
		<string>p560.ttf</string>
		<string>p561.ttf</string>
		<string>p562.ttf</string>
		<string>p563.ttf</string>
		<string>p564.ttf</string>
		<string>p565.ttf</string>
		<string>p566.ttf</string>
		<string>p567.ttf</string>
		<string>p568.ttf</string>
		<string>p569.ttf</string>
		<string>p57.ttf</string>
		<string>p570.ttf</string>
		<string>p571.ttf</string>
		<string>p572.ttf</string>
		<string>p573.ttf</string>
		<string>p574.ttf</string>
		<string>p575.ttf</string>
		<string>p576.ttf</string>
		<string>p577.ttf</string>
		<string>p578.ttf</string>
		<string>p579.ttf</string>
		<string>p58.ttf</string>
		<string>p580.ttf</string>
		<string>p581.ttf</string>
		<string>p582.ttf</string>
		<string>p583.ttf</string>
		<string>p584.ttf</string>
		<string>p585.ttf</string>
		<string>p586.ttf</string>
		<string>p587.ttf</string>
		<string>p588.ttf</string>
		<string>p589.ttf</string>
		<string>p59.ttf</string>
		<string>p590.ttf</string>
		<string>p591.ttf</string>
		<string>p592.ttf</string>
		<string>p593.ttf</string>
		<string>p594.ttf</string>
		<string>p595.ttf</string>
		<string>p596.ttf</string>
		<string>p597.ttf</string>
		<string>p598.ttf</string>
		<string>p599.ttf</string>
		<string>p6.ttf</string>
		<string>p60.ttf</string>
		<string>p600.ttf</string>
		<string>p601.ttf</string>
		<string>p602.ttf</string>
		<string>p603.ttf</string>
		<string>p604.ttf</string>
		<string>p61.ttf</string>
		<string>p62.ttf</string>
		<string>p63.ttf</string>
		<string>p64.ttf</string>
		<string>p65.ttf</string>
		<string>p66.ttf</string>
		<string>p67.ttf</string>
		<string>p68.ttf</string>
		<string>p69.ttf</string>
		<string>p7.ttf</string>
		<string>p70.ttf</string>
		<string>p71.ttf</string>
		<string>p72.ttf</string>
		<string>p73.ttf</string>
		<string>p74.ttf</string>
		<string>p75.ttf</string>
		<string>p76.ttf</string>
		<string>p77.ttf</string>
		<string>p78.ttf</string>
		<string>p79.ttf</string>
		<string>p8.ttf</string>
		<string>p80.ttf</string>
		<string>p81.ttf</string>
		<string>p82.ttf</string>
		<string>p83.ttf</string>
		<string>p84.ttf</string>
		<string>p85.ttf</string>
		<string>p86.ttf</string>
		<string>p87.ttf</string>
		<string>p88.ttf</string>
		<string>p89.ttf</string>
		<string>p9.ttf</string>
		<string>p90.ttf</string>
		<string>p91.ttf</string>
		<string>p92.ttf</string>
		<string>p93.ttf</string>
		<string>p94.ttf</string>
		<string>p95.ttf</string>
		<string>p96.ttf</string>
		<string>p97.ttf</string>
		<string>p98.ttf</string>
		<string>p99.ttf</string>
	</array>
</dict>
</plist>
