<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ar</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ar</string>
		<string>en</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>QuranWerd</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>ScheherazadeNew-Bold.ttf</string>
		<string>ScheherazadeNew-Medium.ttf</string>
		<string>ScheherazadeNew-Regular.ttf</string>
		<string>ScheherazadeNew-SemiBold.ttf</string>
		<string>QCF2001.ttf</string>
		<string>QCF2002.ttf</string>
		<string>QCF2003.ttf</string>
		<string>QCF2004.ttf</string>
		<string>QCF2005.ttf</string>
		<string>QCF2006.ttf</string>
		<string>QCF2007.ttf</string>
		<string>QCF2008.ttf</string>
		<string>QCF2009.ttf</string>
		<string>QCF2010.ttf</string>
		<string>QCF2011.ttf</string>
		<string>QCF2012.ttf</string>
		<string>QCF2013.ttf</string>
		<string>QCF2014.ttf</string>
		<string>QCF2015.ttf</string>
		<string>QCF2016.ttf</string>
		<string>QCF2017.ttf</string>
		<string>QCF2018.ttf</string>
		<string>QCF2019.ttf</string>
		<string>QCF2020.ttf</string>
		<string>QCF2021.ttf</string>
		<string>QCF2022.ttf</string>
		<string>QCF2023.ttf</string>
		<string>QCF2024.ttf</string>
		<string>QCF2025.ttf</string>
		<string>QCF2026.ttf</string>
		<string>QCF2027.ttf</string>
		<string>QCF2028.ttf</string>
		<string>QCF2029.ttf</string>
		<string>QCF2030.ttf</string>
		<string>QCF2031.ttf</string>
		<string>QCF2032.ttf</string>
		<string>QCF2033.ttf</string>
		<string>QCF2034.ttf</string>
		<string>QCF2035.ttf</string>
		<string>QCF2036.ttf</string>
		<string>QCF2037.ttf</string>
		<string>QCF2038.ttf</string>
		<string>QCF2039.ttf</string>
		<string>QCF2040.ttf</string>
		<string>QCF2041.ttf</string>
		<string>QCF2042.ttf</string>
		<string>QCF2043.ttf</string>
		<string>QCF2044.ttf</string>
		<string>QCF2045.ttf</string>
		<string>QCF2046.ttf</string>
		<string>QCF2047.ttf</string>
		<string>QCF2048.ttf</string>
		<string>QCF2049.ttf</string>
		<string>QCF2050.ttf</string>
		<string>QCF2051.ttf</string>
		<string>QCF2052.ttf</string>
		<string>QCF2053.ttf</string>
		<string>QCF2054.ttf</string>
		<string>QCF2055.ttf</string>
		<string>QCF2056.ttf</string>
		<string>QCF2057.ttf</string>
		<string>QCF2058.ttf</string>
		<string>QCF2059.ttf</string>
		<string>QCF2060.ttf</string>
	</array>
</dict>
</plist>
